{% extends '_form_page.html' %}
{% block title %}Change your password &middot; ServiceHub{% endblock %}
{% block heading %}Change your password{% endblock %}
{% block lede %}You need your current password to set a new one. Twelve characters minimum.{% endblock %}
{% block submit %}Change password{% endblock %}
{% block extra_actions %}
  <a class="btn btn-outline-secondary" href="{% url 'accounts:profile' %}">Cancel</a>
{% endblock %}
{% block after_form %}
<p class="small text-muted mt-3">Changing your password does not sign you out of this browser,
   but it does stop anybody who already knew the old one.</p>
{% endblock %}
